<%- include("../common/auth-user") %>
<% page ="cms-home" %>
<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Movon</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link href="/assets/css/data-table.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/images/movon-logo.png" />
    <script src="/assets/js/toaster.js"></script>
    <script>

        function infoToast(message){
          Swal.fire(
              '',
              message,
              'info');
        }
        function waringToast(message){
          Swal.fire(
              '',
              message,
              'waring');
        }
        function successToast(message){
          Swal.fire(
              '',
              message,
              'success');
        }
        function errorToast(message){
          Swal.fire(
              '',
              message,
              'error');
        }


      function confirmDialog(row,image_id){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            deleteImage(row,image_id);
          }
        })
      }





    </script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:./partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/"><img src="/assets/images/movon-logo.png" 
                                                           alt="logdo" /></a>
          <a class="navbar-brand brand-logo-mini" href="/"><img src="/assets/images/movon-logo.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <!-- <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button> -->
          <!-- <div class="search-field d-none d-xl-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search service">
              </div>
            </form>
          </div> -->
          <ul class="navbar-nav navbar-nav-right">
             
            <!-- <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count-symbol bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0 bg-primary text-white py-4">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-calendar"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                    <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
               
               
              </div>
            </li> -->
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:./partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            
            <li style="visibility:hidden;" class="nav-item nav-category">Main</li>
             
            
            <li class="nav-item <%= page =='cms-home'?'active':'' %>">
              <a class="nav-link " href="/frontend-management/home">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Home Slider</span>
              </a>
            </li>
             <li class="nav-item <%= page =='/frontend-management/portfolios'?'active':'' %>">
              <a class="nav-link " href="/frontend-management/portfolios">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Show Case</span>
              </a>
            </li>
            <li class="nav-item <%= page =='/frontend-management/about-me'?'active':'' %>">
              <a class="nav-link " href="/frontend-management/about-me">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">About Us</span>
              </a>
            </li>
             <li class="nav-item <%= page =='/frontend-management/services'?'active':'' %>">
              <a class="nav-link " href="/frontend-management/services">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Services</span>
              </a>
            </li>
            <li class="nav-item <%= page =='home'?'active':'' %>">
              <a class="nav-link " href="/">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Shoot Request</span>
              </a>
            </li>
            
            <!-- <li class="nav-item">
                <a class="nav-link" href="/enquires">
                  <span class="icon-bg"><i class="mdi mdi mdi-help"></i></span>
                  <span class="menu-title">Enquires</span>
                </a>
            </li> -->
            <!-- <li class="nav-item <%= page =='contacts'?'active':'' %>">
                <a class="nav-link" href="/contacts">
                  <span class="icon-bg"><i class="mdi mdi-email"></i></span>
                  <span class="menu-title">Contacts</span>
                </a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                  <span class="icon-bg"><i class=" mdi mdi-laptop"></i></span>
                  <span class="menu-title">CMS</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/frontend-management/home">Home page settings</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/frontend-management/services">Services</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/frontend-management/portfolios">Gallery page settings</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/frontend-management/about-me">About Us</a></li>
                  </ul>
                </div>
              </li> -->
            <li class="nav-item <%= page =='users'?'active':'' %>">
              <a class="nav-link" href="/users">
                <span class="icon-bg"><i class="mdi mdi-account-multiple"></i></span>
                <span class="menu-title">Users</span>
              </a>
            </li>
            <li class="nav-item sidebar-user-actions">
              <div class="user-details">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <div class="d-flex align-items-center">
                      <div class="sidebar-profile-img">
                        <img src="/assets/images/faces/face28.png" alt="image">
                      </div>
                      <div class="sidebar-profile-text">
                        <p class="mb-1">Welcome Admin</p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="badge badge-danger">3</div> -->
                </div>
              </div>
            </li>
            <!-- <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
                  <span class="menu-title">Settings</span>
                </a>
              </div>
            </li> -->
            <li class="nav-item sidebar-user-actions" onclick="logoutUser()">
              <div class="sidebar-user-menu" id="logout-btn" style="cursor: pointer;">
                <a  class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                  <span class="menu-title">Log Out</span></a>
              </div>
            </li>
          </ul>
        </nav>

<!-- //log out user -->
<script>
   function logoutUser(){
     
      let authorizationToken = localStorage.getItem("token");
      console.log(authorizationToken);
      $.ajax({
                 method:"delete",
                 beforeSend: function(request) {
                request.setRequestHeader("Authorization","Bearer "+authorizationToken);
                },
                 url: "/api/users/logout", 
                 success: function(data, textStatus, jqXHR)
                 {
                    
                    successToast(data.message);
                     localStorage.clear();
                     window.location.href="/login";
                 },
                 error: function(error)
                 {
                     errorToast(error.responseJSON.message);
                 }
               });

   }
</script>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Home Page Management </h3>
              <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="#">Frontend</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
              </nav> -->
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <a href="/frontend-management/home" type="button" class="btn btn-outline-info btn-icon-text">Go back<i class=" mdi mdi-arrow-left  btn-icon-append"></i>
                      </a>
                    </div>
                    <div class="table-responsive m-4 ">
                        <h5 >Pc home page images</h5>
                        <table class="table table-bordered" id="myTable" style="width:100%">
                          <thead>
                            <tr>
                              <th> # </th>
                              <th> Image</th>
                              <th> Date </th>
                              <!-- <th> Type </th> -->
                              <th> Delete </th>
                            </tr>
                          </thead>
                          <tbody>
  
                          </tbody>
                        </table>
                    </div>
                    <div class="table-responsive m-4 ">
                      <h5 >Mobile home page images</h5>
                      <table class="table table-bordered" id="myTableMobile" style="width:100%">
                        <thead>
                          <tr>
                            <th> # </th>
                            <th> Image</th>
                            <th> Date </th>
                            <th> Delete </th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="footer-inner-wraper">
              <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
              </div>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/file-upload.js"></script>
    <script src="../../assets/js/data-table.js"></script>
    <script>
      $(document).ready(function () {
             var base_url = "/uploads/";
            // var base_url = "https://movonnewbucket.s3.amazonaws.com/images/";
             let authorizationToken = "Bearer "+ window.localStorage.getItem("token");
             $.ajax({
                 method:"get",
                 beforeSend: function(request) {
                request.setRequestHeader("Authorization", authorizationToken);
                },
                 url: "/api/images", 
                 success: function(data, textStatus, jqXHR)
                 {

                  var images = data.data.images.pcImages;
                  var mobileImages = data.data.images.mobileImages;
                  var newImages = [],newImagesMobile = [];
                  var i = 1;
                  $.each( images, function( key, value ) {
                        value.no = i;
                        newImages.push(value);
                        i++;               
                  });
                  $.each( mobileImages, function( key, value ) {
                        value.no = i;
                        newImagesMobile.push(value);
                        i++;               
                  });

                   $('#myTable').DataTable( {
                        data: newImages,
                        columns: [
                            { data: 'no' },
                            { data: 'image',render: function (data, type, row, meta) {
                                return `<a  target =blank href="${base_url+data}"><img src="${base_url+data}" height="50" width="50"/></a>`;
                              }
                            },
                            //{ data: 'image' },
                            {data: 'createdAt',render: function (data, type, row, meta) {
                                return data.slice(0,10);
                            }},
                            { data: 'image_id',render: function (data, type, row, meta) {
                                return '<button value="'+data+'" class="btn btn-primary delete-btn" >Delete</button>';
                              }
                            }
                        ]
                     });

                     $('#myTableMobile').DataTable( {
                        data:newImagesMobile,
                        columns: [
                            { data: 'no' },
                            { data: 'image',render: function (data, type, row, meta) {
                                return `<a  target =blank href="${base_url+data}"><img src="${base_url+data}" height="50" width="50"/></a>`;
                              }
                            },
                            //{ data: 'image' },
                            {data: 'createdAt',render: function (data, type, row, meta) {
                                return data.slice(0,10);
                            }},
                            { data: 'image_id',render: function (data, type, row, meta) {
                                return '<button value="'+data+'" class="btn btn-primary delete-btn">Delete</button>';
                              }
                            }
                        ]
                     });
                    //$('#myTable').DataTable();
                 },
                 error: function(error)
                 {
                    errorToast(error.responseJSON);
                 }
               });

               

          //  });
      });
      $("body").on("click", ".delete-btn", function(e){
      var row = $(this);


      var image_id = jQuery(this).val();
      confirmDialog(row,image_id);
      });

       function deleteImage(row,image_id){
             var table = $('#myTable').DataTable();
             var tablename = row.closest('table').DataTable();
             let authorizationToken = "Bearer "+ window.localStorage.getItem("token");
              $.ajax({
                             method:"delete",
                             beforeSend: function(request) {
                            request.setRequestHeader("Authorization", authorizationToken);
                            },
                             url: "/api/images/"+image_id,
                             success: function(data, textStatus, jqXHR)
                             {
                              tablename.row( row.parents('tr') ).remove().draw();
                              successToast(data.message);
                             },
                             error: function(error)
                             {
                              errorToast(error.responseJSON);
                             }
                });
      }
 </script>
    <!-- endinject -->
  </body>
</html>